{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <div class="message">
        {% for message in messages %}
        <div class="text-right">{{message.message}}</div>
        <div class="text-left">{{message.reply}}</div>
        {% endfor %}
    </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                <!-- {{ form.message.label(class="form-control-label") }} -->
                {% if form.message.errors %}
                {{ form.message(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.message.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.message(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group text-right">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}