{% extends "base.html" %}

{% block content %}
<h1 class="text-center">{{head_title}}</h1>


<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {% if form.story.errors %}
                {{ form.story(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.story.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.story(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group text-center">
            {{ form.train(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}